extends ./base

block append content
    include ./pagelets/nav.jade

    //- 一级页面 右侧
    div.col-md-10.gm-right
        //- 题目管理
        include ./subpage/playset.jade

block append footfunc
    //- script(src="#{adminStaticBase}/admin/js/question.js")
