div.gm-add-question
   - var formURL = '/admin/group/get/'

   form.form-inline#questTable(action=formURL,method="POST")
      ul
         li
            button.btn.btn-success.btn-submit(type="submit") 获取用户组
