div.gm-achievement.m-hide
    ul.gm-ach-list.clearfix
        li.col-md-3
            h5
                | 打卡类
            p
                | 累计获得人数：45556人
        li.col-md-3
            h5
                | 答对累计
            p
                | 累计获得人数：45556人
        li.col-md-3
            h5
                | 连续答对
            p
                | 累计获得人数：45556人
        li.col-md-3
            h5
                | 对战次数累积
            p
                | 累计获得人数：45556人
        li.col-md-3
            h5
                | 挑战成功累计
            p
                | 累计获得人数：45556人
        li.col-md-3
            span.glyphicon.glyphicon-plus(aria-hidden="true")
