div.mask
div.gm-pop
    h2 添加题目
    div.gm-search-bar
        div.col-xs-4
            input.form-control(type="text")
        a.btn.btn-primary.btn-sm.active.gm-search(role="button")
    div.question-box
        button.btn.btn-default.select(type="button")
            | 默认尺寸
            span.glyphicon.glyphicon-ok(aria-hidden="true")
        button.btn.btn-default(type="button")
            | 默认尺寸
    span.glyphicon.glyphicon-play(aria-hidden="true")
    div.topic-box
